[submodule "contracts/lib/ds-test"]
	path = contracts/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "crosschain/contracts/lib/ds-test"]
	path = crosschain/contracts/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "crosschain/chain_interaction/contracts/lib/ds-test"]
	path = crosschain/chain_interaction/contracts/lib/ds-test
	url = https://github.com/dapphub/ds-test
